@font-face {
    font-family: 'RobotoLight';
    src: url('../fonts/roboto-light-webfont.ttf');
}

body{
    font-family: 'RobotoLight';
    margin: 0;
}

#background {
  position: fixed; 
  top: 0; 
  left: 0; 
	
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
}

.clear{
    clear: both;
}

.select-login{
    position: relative;
}

.select-login .logo img{
    display: block;
    margin: 0 auto;
    position: relative;
    top: 50px;
    width: 50%;
}

.select-type{
    position: fixed;
    bottom: 0;
    width:100%;
}

.select-type .type-management, .select-type .type-player, .select-type .type-fan{
    padding: 5px 0px;
}

.select-type .type-management h2, .select-type .type-player h2, .select-type .type-fan h2{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    cursor:pointer;
}

.select-type .type-management{
    background: rgba(146, 182, 255, 0.8);
}

.select-type .type-player{
    background: rgba(146, 182, 255, 0.6);
}

.select-type .type-fan{
    background: rgba(146, 182, 255, 0.4);
}

.management-login, .player-login, .fan-login{
    display:none;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.login-active{
    opacity:1;
}

.login-mask{
    display: none;
    background: #000000;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.mask-active{
     opacity: 0.7;
}